
    <ion-content class="ionic login animate-pan-in-left" style="background-image: url('../img/mountains.jpg');">
        <div class="hero no-header flat">
            <div class="content">
                <i class="ion-unlocked icon hero-icon royal-bg"></i>
                <h1>Welcome To DeKUT</h1>
            </div>
        </div>
       <p/>
        <div class="text-center">
            <a class="button button-block button-positive waves-effect waves-light" href="/">Take A Tour 
<i class="ion-map"></i>
            </a>
        </div>

        <div class="button-bar">
            <a class="button button-small button-outline button-assertive light-bg icon-left ion-key waves-effect waves-button waves-light" href="#/auth/signin">Login</a>
            <a class="button button-small button-outline button-positive light-bg icon-left ion-person-add waves-effect waves-button waves-light" href="#/auth/signup">Sign Up</a>
        </div>
    </ion-content>

