<body ng-controller="MapCtrl" class="ionic">
    <ion-header-bar class="ionic bar-positive" >
     <button menu-toggle="left" class="button button-icon icon ion-navicon flat menunav"></button>
        <h1 class="title">Our Location</h1>
            <button ng-click="centerOnMe()" class="button button-icon icon ion-pinpoint"></button>

    </ion-header-bar>
    <ion-content>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
   
  </body>