.margin {
    margin-left: 9px;
    margin-right: 9px;
}
.icon-actions {
    font-size: 23px;
}
.checkbox {
    vertical-align: middle;
}
.actions {
    float: right;
}
.item-text-wrap {
    overflow: auto;
}
.ion-checkmark-circled.icon-actions.margin{
	margin-right: 35px;
}
.text-center {
  text-align: center;
}
}
.text-left {
  text-align: left;
  padding: 12px;
}
.text-right {
  text-align: right;
}
.introcontent {
	bottom: -45px;
position: absolute;
text-align: center;
width: 100%;
z-index: 1;
}
.text-center {
  text-align: center;
  padding: 50px;
}
.menunav {
  text-align: left;
  padding: 3px;
}
.contbutt {
  text-align: center;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

